.wb_none {
  display: none;
}
.wb_block {
  display: block;
}
.wb_inline-block {
  display: inline-block;
}
.wb_inline {
  display: inline;
}
.wb_inline-flex {
  display: inline-flex;
}
.wb_flex {
  display: flex;
}
.wb_hidden {
  display: hidden;
}
.wb_overflow--auto {
  overflow: auto;
}
.wb_overflow--hidden {
  overflow: hidden;
}
.wb_overflow-x--hidden {
  overflow-x: hidden;
}
.wb_overflow-y--hidden {
  overflow-y: hidden;
}
.wb_static {
  position: static;
}
.wb_fixed {
  position: fixed;
}
.wb_absolute {
  position: absolute;
}
.wb_relative {
  position: relative;
}
.wb_sticky {
  position: sticky;
}
.wb_visible {
  visibility: visible;
}
.wb_invisible {
  visibility: hidden;
}
.wb_z--0 {
  z-index: 0;
}
.wb_z--10 {
  z-index: 10;
}
.wb_z--20 {
  z-index: 20;
}
.wb_z--30 {
  z-index: 30;
}
.wb_z--40 {
  z-index: 40;
}
.wb_z--50 {
  z-index: 50;
}
.wb_flex-wrap {
  flex-wrap: wrap;
}
.wb_flex-wrap--reverse {
  flex-wrap: wrap-reverse;
}
.wb_flex-wrap--nowrap {
  flex-wrap: nowrap;
}

.wb_justify--start {
  justify-content: flex-start;
}
.wb_justify--end {
  justify-content: flex-end;
}
.wb_justify--center {
  justify-content: center;
}
.wb_justify--space-between {
  justify-content: space-between;
}
.wb_items--start {
  align-items: flex-start;
}
.wb_items--end {
  align-items: flex-end;
}
.wb_items--center {
  align-items: center;
}
.wb_items--baseline {
  align-items: baseline;
}
.wb_items--stretch {
  align-items: stretch;
}
.wb_text--small {
  font-size: 12px;
}
.wb_text {
  font-size: 14px;
}
.wb_subheading {
  font-size: 16px;
}
.wb_heading--small {
  font-size: 18px;
}
.wb_heading {
  font-size: 20px;
}
.wb_heading--large {
  font-size: 24px;
}
.wb_font--light {
  font-weight: light;
}
.wb_font--normal {
  font-weight: normal;
}
.wb_font--medium {
  font-weight: medium;
}
.wb_font--bold {
  font-weight: bold;
}
.wb_font--400 {
  font-weight: 400;
}
.wb_font--500 {
  font-weight: 500;
}
.wb_font--600 {
  font-weight: 600;
}
.wb_font--700 {
  font-weight: 700;
}
.wb_font--900 {
  font-weight: 900;
}
.wb_text--left {
  text-align: left;
}
.wb_text--center {
  text-align: center;
}
.wb_text--right {
  text-align: right;
}
.wb_text--justify {
  text-align: justify;
}
.wb_uppercase {
  text-transform: uppercase;
}
.wb_lowercase {
  text-transform: lowercase;
}
.wb_capitalize {
  text-transform: capitalize;
}
.wb_normal-case {
  text-transform: none;
}
.wb_bg--center {
  background-position: center;
}
.wb_bg--no-repeat {
  background-repeat: no-repeat;
}
.wb_bg--auto {
  background-size: auto;
}
.wb_bg--cover {
  background-size: cover;
}
.wb_bg--contain {
  background-size: contain;
}
.wb_border--solid {
  border-style: solid;
}
.wb_border--dashed {
  border-style: dashed;
}
.wb_border--dotted {
  border-style: dotted;
}
.wb_border--double {
  border-style: double;
}
.wb_border--none {
  border-style: none;
}
.wb_line--height-16 {
  line-height: 16px;
}
.wb_line--height-19 {
  line-height: 19px;
}
.wb_line--height-23 {
  line-height: 23px;
}
.wb_line--height-28 {
  line-height: 28px;
}
.wb_text--color-blue {
  color: #649eff;
}
.wb_text--color-gray {
  color: #828282;
}
.wb_text--color-gray-light {
  color: #bdbdbd;
}
.wb_text--color-black {
  color: #4f4f4f;
}
.wb_text--color-while {
  color: #ffffff;
}

.wb_p--none {
  padding: 0px;
}
.wb_p--medium {
  padding-top: 30px;
}
.wb_pt--medium {
  padding-top: 30px;
}
.wb_pb--medium {
  padding-bottom: 30px;
}
.wb_pl--medium {
  padding-left: 30px;
}
.wb_pr--medium {
  padding-right: 30px;
}
.wb_px--medium {
  padding-right: 30px;
  padding-left: 30px;
}
.wb_py--medium {
  padding-top: 30px;
  padding-bottom: 30px;
}
.wb_m--medium {
  margin: 30px;
}
.wb_mt--medium {
  margin-top: 30px;
}
.wb_mb--medium {
  margin-bottom: 30px;
}
.wb_ml--medium {
  margin-left: 30px;
}
.wb_mr--medium {
  margin-right: 30px;
}
.wb_mx--medium {
  margin-right: 30px;
  margin-left: 30px;
}
.wb_my--medium {
  margin-top: 30px;
  margin-bottom: 30px;
}
.wb_bg--while{
    background-color: #ffffff;
}
.wb_bg--blue{
    background-color: #649EFF;
}
.wb_bg--blue-light{
    background-color: #EFF5FF;
}
.wb_box--shadow{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}